pipeline/end-to-end-pipeline.json
{
	"name": "end-to-end-pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM metadata_config\nWHERE active_flag = 'Y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_to_landing_zone",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "insert_audit_log",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"endpoint": {
											"value": "@item().endpoint",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"filesystem": {
											"value": "@item().landing_container",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().landing_path",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().entity_name,'_',formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "running_audit_script",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "copy_to_landing_zone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "UPDATE audit_log\nSET\n    status = 'SUCCESS',\n    load_end_time = GETDATE(),\n    execution_duration_sec =\n        DATEDIFF(\n            SECOND,\n            load_start_time,\n            GETDATE()\n        )\nWHERE\n    run_id = '@{pipeline().RunId}'\n    AND entity_name = '@{item().entity_name}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "insert_audit_log",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "INSERT INTO audit_log\n(\n    pipeline_name,\n    run_id,\n    source_system,\n    entity_name,\n    layer_name,\n    load_type,\n    load_start_time,\n    status,\n    triggered_by,\n    created_date\n)\nVALUES\n(\n    'end-to-end-pipeline',\n    '@{pipeline().RunId}',\n    '@{item().source_system}',\n    '@{item().entity_name}',\n    'Landing',\n    '@{item().load_type}',\n    GETDATE(),\n    'RUNNING',\n    'ADF',\n    GETDATE()\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "update_watermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "running_audit_script",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "UPDATE watermark_table\nSET\n    previous_watermark = last_watermark_value,\n    last_watermark_value = CONVERT(VARCHAR, GETDATE(), 120),\n    last_run_end_time = GETDATE(),\n    last_run_status = 'SUCCESS',\n    updated_date = GETDATE()\nWHERE\n    entity_name = '@{item().entity_name}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}